body > #root > div {
  height: 100vh;
}

.login-page {
  align-items: center;
  background-image: url(background.jpg);
  background-size: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  border: red solid;
  height: 100%;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: end; */
  width: 100vh;
}

.user-input , .password-input{
  border: none;
  border-radius: 13px;
  color: black;
  margin-top: 10px;
  padding: 10px 20px;
  width: 55%;
}

.login-btn {
  background-color: #08cc6c;
  border: none;
  border-radius: 13px;
  color: white;
  font-size: larger;
  font-weight: 700;
  margin: 20px;
  padding: 7px 20px;
  width: 55%;
}

.login-btn:disabled {
  background-color: #08cc6d80;
  color: rgba(255, 255, 255, 0.486);
}

.header {
  background-color: rgba(0, 0, 0, 0.205);
  text-align: center;
}

#Title {
  text-align: center;
}

.header-btn {
  background-color: #08cc6c;
  border: none;
  border-radius: 100%;
  margin: 5px;
  padding: 10px;
}

.category-area {
  display: flex;
  flex-wrap: wrap;
}

.categories {
  border: none;
  border-radius: 13px;
  padding: 5px;
  margin: 5px 7px;
  width: 30%;
}

.meals {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.food-card {
  align-items: center;
  border-radius: 13px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 40%;
}

.food-card:hover {
  transform: scale(1.02);
  transition: 100ms;
}

.food-card img {
  border-radius: 13px 13px 0 0;
  width: 100%;
}

/* .search-bar */

.footer {
  bottom: 0;
  position: fixed;
  background-color: #d6d6d6;
  padding: 10px;
  width: 100%;
}
